// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
.theme-custom {

  $fields: #F4F6F6;
  $emptyFieldText: #AEAEAE;
  $functionalIcons: #C4CACC;
  $divider: #EBEBEB;
  $links: #0096CE;
  $success: #00AC00;
  $fail: #F80000;
  $action: #FDC513;
  $actionDark: #EAB40A;
  $mediumText: #303030;
  $lightText: #e0e0e0;
  $background: #FFFFFF;
  $linearLeft: #F5F5F5;
  $linearRight: #FFF;
  $shadow: #000000;
  $tabBorder: #C0C0C0;
  $headerBorder: #EAB40A;
  $darkText: #000000;
  $border: #C0C0C0;

  //** Import fonts **//
  @import url('https://fonts.googleapis.com/css?family=Lato:700');

  //** font family **//
  --ion-font-family: 'Lato' !important;
  font-family: 'Lato', 'Roboto', sans-serif !important;

  //** Variables **//
  //$logo: url("/assets/imgs/campaignLogo.png");
  $image: url('/assets/imgs/campaignImage.png');

  //** Colours **//
  --iconSelected: #57a8ca;
  --darkText: #3F81C7;
  --ion-color-primary: #57a8ca;
  --ion-color-primary-contrast: #eAeAeA;
  --ion-color-secondary: #57a8ca;
  --ion-color-secondary-contrast: #303030;

  .ion-color-facebook {
    --ion-color-base: #3b5998;
    --ion-color-contrast: #f7f7f7;
  }

  .ion-color-password-change {
    --ion-color-base: #DADADA;
    --ion-color-contrast: #000000;
  }

  //** Background **//
  ion-content {
    --background: linear-gradient(to right, $linearLeft, $linearRight);
    background-image: linear-gradient(to right, $linearLeft, $linearRight);
  }

  //** Texts and texts within a div body **//
  div, p, h1, h2, h3, h4, h5, h6, strong {
    color: var(--darkText);
    font-size: large;
  }

  //** Ion-card **//
  ion-card {
    background: $background;
    margin: 16px;

    div, p, h1, h2, h3, h4, h5, h6 {
      color: $mediumText !important;
    }
  }

  .ionCardWithoutMargin {
    margin-top: auto;
  }

  ion-card-header {
    padding-bottom: 0 !important;
  }

  //** Ion-input **//
  ion-input {
    background: $fields;
    color: $emptyFieldText;
    border-bottom: solid 1px $linearRight;
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
  }

  //** Ion-item **//
  ion-item {
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --padding-end: 0;
    --padding-start: 0;
    --border-radius: 8px;
  }

  //** Divider **//
  hr {
    background: $fields;
  }

  //** Ion-tabs **//

  ion-tab-button {
    --color-selected: var(--iconSelected)
  }

  .back-button {
    color: $darkText;
  }

  .forgotPw {
    color: $links;
  }

  ion-tab-bar {
    border-top: 1px solid $tabBorder;
    height: 65px;
  }

  .tab-bar-scan-button {
    --background: var(--ion-color-primary);
    --color: var(--darkText);
    --width: 90px;
    --height: 90px;
    --overflow: visible;
    --border-radius: 50%;
    --border-style: solid;
    --border-width: 3px;
    --border-color: #fff;
    --background-activated: var(--ion-color-primary);
    --box-shadow: 0 3px 3px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto -19.5px;
  }

  .tab-bar-scan-button-icon {
    position: absolute;
    top: 21px;
    font-size: 40px;
    color: $lightText;
    left: 19px;
  }

  .tab-bar-scan-button-label {
    position: absolute;
    bottom: 18.75px;
    font-size: 10.5px;
    text-transform: capitalize;
    color: #303030;
  }

  .tab-bar-scan-button-outline {
    position: absolute;
    border: 1px solid;
    border-radius:50%;
    border-color: #C0C0C0 #fff #fff;
    background:rgba(0,0,0,0);
    color:white;
    width:91px;
    height:91px;
    text-align:center;
    line-height:100px;
  }

  //** Segment **//

  ion-segment-button {
    padding-top: 2%;
    padding-bottom: 2%;
    background: $action;
    color: $mediumText;
    text-transform: none;
    font-size: 14px;
    border: 2px solid $action;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }

  ion-segment-button.segment-button-unchecked {
    font-weight: lighter;
  }

  ion-segment-button.segment-button-checked {
    color: $mediumText !important;
    border-bottom: 2px solid $mediumText;
    font-weight: bolder;
  }

  .segmentContainer {
    padding: 0;
    background: $action;
  }

  //** Campaign images **//

  .parallax-image {
    height: 15em;
    background: $image no-repeat fixed center 1em;
    object-fit: contain;
  }

  .parallax-image-password-reset {
    height: 14em;
    background: $image no-repeat center -3%;
    object-fit: contain;
  }

  .campaignImage {
    display: block;
    max-height: 100px;
    margin: 5% auto 0 auto;
  }

  .campaignLogo {
    display: block;
    margin: auto auto 5% auto;
  }

  //** Buttons **//
  ion-button {
    --margin-top: 8px;
    --margin-bottom: 8px;
    --margin-start: 0;
    --margin-end: 0;
    --border-radius: 8px;
    font-size: 18px;
    text-transform: none;
  }

  //** About - help links **//
  .left-content {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: lighter;
    color: $darkText !important;
  }

  //**Tab Title**//

  .tab-header-title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    --font-weight: bold;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    background: var(--ion-color-primary);
    border-bottom: 1px solid $headerBorder;
  }

  .tab-header-title-button {
    color: var(--darkText);
    //--font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-transform: capitalize;
    font-size: 16px;
  }

  //** Links **//
  /* unvisited link */
  a:link {
    color: $links;
  }

  /* visited link */
  a:visited {
    color: $links;
  }

  /* mouse over link */
  a:hover {
    color: $links;
  }

  /* selected link */
  a:active {
    color: $links;
  }

  /* components */

  /* profile overview */

  .profilePage {
    align-content: center;
    margin: auto auto 16px auto;
    text-align: center;
  }

  .profileTextContainer {
    margin-top: 5%;
    text-align: center;
  }

  .profilePhotoContainer {
    position: relative;
    overflow: hidden;
    width: 150px;
    //height: 150px;
    display: inline-block;
  }


  .profilePicture {
    border-radius: 50%;
    width: 87.91px;
    height: 87.91px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  }

  .profileInput {
    text-align: left;
    margin-top: 4px;
  }

  .cornerButton {
    position: absolute;
    margin-left: 34px;
    margin-top: -24px;
    width: 30px;
    height: 30px;
    color: $actionDark;
  }

  .cornerButtonNonEdit {
    top: 5%;
    right: 5%;
    color: $actionDark;
  }

  .profileHeader {
    font-size: 22px;
    font-weight: bold;
    color: var(--darkText);
  }

  .profileSubHeader {
    font-size: 16px;
    margin-bottom: 8%;
    text-transform: none;
    font-weight: bold;
  }

  .profileCardContent {

    text-align: left;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 13px;
  }

  .profileContentHeader {
    font-size: 12px;
    color: opacify($lightText, 0.6)
  }

  .profileContentPara {
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 16px;
  }

  .profileDivider {
    border-bottom: 1px solid $fields;
    flex-grow: 1;
    margin-right: 22px;
    margin-left: 21px
  }


  .profilePictureEdit {
    border-radius: 50%;
    width: 119.91px;
    height: 119.91px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  }

  .profileEditFormHeader {
    font-size: 16px;
    color: $darkText;
    text-align: left;
    text-transform: none;
  }
}

